// largeur appareils
$telephone : 600px;

// dimensions générales
$largeur_navbar : 200px;
$small_padding : 10px;
$medium_margin : 20px;

// ombres
$box_shadow_depth_high : 0 17px 40px -5px #0000008f, 0 2px 10px -5px #000000a1;
$box_shadow_depth_medium : 0 17px 40px -5px #00000042, 0 2px 10px -5px #000000db;



body {
    background-color: #f9f9f9;
}

* {
    scrollbar-width: none;
}


.sidebar {
    position: fixed;
    max-height: 90%;
    margin: $medium_margin;
    margin-top: 0;
    padding: $small_padding;

    border-radius: 10px;
    background-color: white;
    box-shadow: $box_shadow_depth_medium;

    overflow: scroll;
    font-weight: bold;
    color: gray;
    line-height: 2;

    //affichage telephone
    @media screen and (max-width: $telephone) {
        margin-top: 70px;
        width: max-content;
        max-width: 80%;
        height: 70%;
        display: none;
    }

    // affichage ordinateur
    @media screen and (min-width: $telephone) {
        display: initial !important; // si sideBar mobile fermée puis changement largeur écran
        width: $largeur_navbar;
    }
}

.hamburger {
    position: fixed;
    padding: 20px;
    margin-left: $medium_margin;

    border-radius: 100%;
    background-color: white;
    box-shadow: $box_shadow_depth_high;

    cursor: pointer;
    text-align: center;

    // affichage ordinateur
    @media screen and (min-width: $telephone) {
        display: none;
    }
}

.content {
    // affichage ordinateur
    @media screen and (min-width: $telephone) {
        padding-left: $largeur_navbar + 4*$small_padding;
    }
}



.searchBarFrame {
    width: max-content;
    margin: auto;
    margin-top: $medium_margin;
    margin-bottom: $medium_margin;

    box-shadow: $box_shadow_depth_high;
    border-radius: 100px;
}

.searchBar {
    padding: 10px;
    width: 200px;

    border-radius: 50px;
    border: 0;
    outline: none;
    font-size: 15px;

    // affichage ordinateur
    @media screen and (min-width: $telephone) {
        border-right: 0.5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.searchButton {
    //affichage telephone
    @media screen and (max-width: $telephone) {
        display: none;
    }

    // affichage ordinateur
    @media screen and (min-width: $telephone) {
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;

        border-radius: 50px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 0;
        background-color: white;

        cursor: pointer;
        font-size: 15px;
    }
}
